.feature::after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    /* background-Image: linear-gradient(to right, #f4faff 0%, #c6d1db 50%, #e3eaf1 100%), url("../assets/heroback.webp"); */
    background-color:
        linear-gradient(to top,
            rgba(11, 13, 15, 0.9),
            rgba(23, 26, 29, 0.5)),
    ;

}