.react-datepicker {
  background-color: #1C2025;
  border: 1px solid #333;
  color: #F5F5F2;
}

.react-datepicker__header {
  background-color: #222;
  border-bottom: 1px solid #333;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: #F5F5F2;
}

.react-datepicker__day:hover {
  background-color: #c9a227;
  color:  #0B0D0F;
}

.react-datepicker__day--selected {
  background-color: #c9a227;
  color: #1C2025;
}

.react-datepicker__day--keyboard-selected {
  background-color: #c9a227;
  color: #121212;
}